In [1]:
import torch 
import torch.nn as nn
import torch.nn.functional as F

In [2]:
class Model(nn.Module):
    def __init__(self, input_size=4, h1=9,h2=8,  output_size=3):
        super().__init__()
        self.fc1 = nn.Linear(input_size, h1)
        self.fc2 = nn.Linear(h1, h2)
        self.fc3 = nn.Linear(h2, output_size)

    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = self.fc2(x)
        return x

In [3]:
torch.manual_seed(41)
model =Model()

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
url='https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'
my_df = pd.read_csv(url)

In [16]:
my_df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [18]:


# Replace values if the column exists
if 'variety' in my_df.columns:
    my_df['variety'] = my_df['variety'].replace('Setosa', 0.0)
    my_df['variety'] = my_df['variety'].replace('Versicolor', 1.0)
    my_df['variety'] = my_df['variety'].replace('Virginica', 2.0)
else:
    print("Column 'variety' not found in DataFrame.")

In [ ]:
#build the simple nn
class SimpleNN(nn.Module):
    def __init__(self, input_size):
        super().__init__()
        self.fc1=nn.Linear(input_size,64)
        self.fc2=nn.Linear(64,32)
        self.fc3=nn.Linear(32,1) # taking 1 output 

    def forward(self,x):
        x=F.relu(self.fc1(x))
        x=F.relu(self.fc2(x))
        x=F.sigmoid(self.fc3(x))
        return x

input_size=10
for epoch in range(epochs):
    inputs